* {
    margin: 0;
    padding: 0;
}

img {
    filter: blur(0);
    filter: contrast(1.2);
    filter: brightness(2);
    filter: invert(0);
    filter: opacity(50%);
}

.box {
    filter: blur(0);
    filter: contrast(0);
    filter: brightness(60);
    filter: drop-shadow(10px 10px 2px 0 black);
}