/*a {
    width: 150px;
    height: 150px;
    display: inline-block;
} */
body {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

ul {
    background: green;
    padding: 20px;

    /*visibility: hidden;  Hide the element, keeping its place occupied in the DOM*/

    /*display: none;  Hide the element and remove its place from the DOM, letting other elements to be placed in it.*/

    opacity: 0.5;
}

ul li {
    display: inline;
    margin: 0 20px;
}