@mixin reset-list($margin:0, $spacement:0, $style:none) {
    margin: $margin;
    padding: $spacement;
    list-style-type: $style;
}

// MIXIN is a function to override specific properties of elements.