.menuMobile {
    position: absolute;
    top: 0;
    left: -100%;
    width: 150px;
    height: 100vh;
    background-color: black;
    color: white;
    transition: all 800ms ease 0ms;
}

.menuMobile.aberto {
    left: 0%;
}

.botaoMenu {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
        font-weight: bold;
        cursor: pointer;
    }
}

.botaoMenu.aberto {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}