<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs')%>

        <section class="container">
            <%- include('partials/navbar.ejs')%>

            <article class="content">
                <h1>Quem somos</h1>
                <img src="https://yt3.ggpht.com/ytc/AMLnZu_4zsVlenlnnMvBAzVPWcETxZoTjKuGGj1BvI45TA=s900-c-k-c0x00ffffff-no-rj">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor amet minima doloremque quo ex magnam itaque velit consequuntur, consequatur maiores quod. Enim quidem nemo nulla voluptatum ipsum excepturi porro perspiciatis?
                </p>
            </article>
        </section>
        <%- include('partials/footer.ejs')%>
    </body>
</html>