<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs')%>

        <section class="container">
            <%- include('partials/navbar.ejs')%>

            <article class="content">
                <h1>Serviços</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_-kdJmFwEiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor amet minima doloremque quo ex magnam itaque velit consequuntur, consequatur maiores quod. Enim quidem nemo nulla voluptatum ipsum excepturi porro perspiciatis?
                </p>
            </article>
        </section>
        <%- include('partials/footer.ejs')%>
    </body>
</html>